* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: lightgrey;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  width: 90%;
}
nav .logo {
  width: 92px;
  height: 42px;
  display: flex;
  padding-top: 26px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}
nav .logo span {
  color: #ffffff;
}
nav .links a {
  color: #ffffff;
  text-decoration: none;
}
nav .links span {
  color: #ffffff;
  margin: 0 20px;
}

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/banner@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner .buttonBanner {
  width: 121px;
  height: 40px;
  background-color: #79addc;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.banner p {
  font-size: 60px;
  color: white;
}

.form-content {
  max-width: 818px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 75px;
}
.form-content .buttonForm {
  max-width: 99%;
  background-color: #79addc;
  width: 814px;
  height: 60px;
  border: none;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-content .formTitle {
  margin-top: 40px;
  font-size: 60px;
  margin-bottom: 20px;
}
.form-content .top-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.form-content .top-boxes .long-box {
  width: 423px;
}
.form-content .top-boxes .shortBox {
  width: 100px;
}
.form-content .top-boxes .message {
  width: 820px;
  height: 190px;
}
.form-content .top-boxes .extraLongBox {
  width: 700px;
}
.form-content .top-boxes .holder {
  margin-right: 40px;
}
.form-content .top-boxes input {
  width: 344px;
  height: 58px;
  padding-left: 10px;
  border: 3px solid #79addc;
}

.photos {
  max-width: 940px;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}
.photos .photo {
  max-width: 300px;
}
.photos .photo img {
  display: block;
  width: 236px;
  height: 304px;
  repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .photos {
    width: 300px;
    flex-direction: column;
    min-height: 940px;
  }
}
.footer {
  max-width: 1280px;
  width: 90%;
  height: 100px;
  background-color: #79addc;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer .logoF {
  width: 92px;
  height: 42px;
  display: flex;
  padding-top: 26px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}
.footer .logoF span {
  color: #ffffff;
}
.footer .copyright {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
