$center: 0 auto;

//this is the total site width
$site-width: 980px;
$banner-footer-width: 1280px;
$footer-height: 100px;
$banner-height: 500px;
$home-form-width: 818px;

//this is for site color
$site-blue: #79addc;
$site-white: #ffffff;
$site-black: #000000;

//buttons
