.banner {
  max-width: $banner-footer-width;
  height: $banner-height;
  background-image: linear-gradient(
      rgba($site-black, 0.7),
      rgba($site-black, 0.7)
    ),
    url(../images/yutoSB.jpeg);
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
}
